#post{
  position: relative;
  z-index: 0;
  background: #F5EEDD;
}
#postmenu{
  position: absolute;
  z-index: 1;
  right: 1vw;


}
#postnav {
  padding: 0vh auto;
  height: auto;
  text-align: center;
  line-height: auto;
  border-radius: 20px 20px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#postnav:first-child:hover {
  cursor: pointer;
  background: #5D9471;

}
#postnav > svg {
 margin-left: 10px;
}

#d-text > div{
  display: flex;
  align-items: center;
}
#d-text > div > h3 {
  font-family: 'Gmarket_medium';
  margin-right: 10px;
  color: #919191;
  font-size: smaller;
}
#d-text > div > h2 {
  font-family: 'Gmarket_bold';
  margin-right: 10px;
  font-size: larger;
  color: black;
}
#jender{
  display: flex;
}
#jender > svg{
  margin-left: 10px;
}

/* 지도 */
#loc > h3{
  font-family: 'Gmarket_medium';
  color: #919191;
  margin: 0px 3%;
}
#loc {
  font-size: small;
  height: 15%;
}

/* 댓글 */
#comments{
  overflow-y: hidden;
}
#comment{
  display: flex;
  width: 95%;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 5px;
  border-bottom: 1px solid #c9c9c991;
  padding: 10px 0;
}
#comment > div{
  margin: 0px 5px;
  height: 20px;
  line-height: 20px;
}
#comment > div:first-child{
  width: 20px;
  margin-left: 0;
}
.c-name{
  font-family: 'KBO bold';
}
.c-content{
font-size: smaller;
max-width: 70%;
overflow-x: hidden;
text-overflow: ellipsis; 
white-space: nowrap;

}
.c-time{
  font-size: x-small;
  color: #919191;
}
#comment >svg{
  width: 15px;
  height: 20px;
  color: #919191;
  margin-left: auto;
}
#bottombtn{
  color:#fff;
}
#bottombtn > div {
  font-family: 'KBO_medium';
  width: auto;
  padding: 0 40px;
  background-color: #436850;
  text-align: center;
  line-height: 4vh;
  border-radius: 20px;
  margin-left: auto;
  cursor: pointer;
}

#bottombtn > div:hover {
  background-color: #5D9471;
}


@media (max-width: 767px) {
  #postnav {
    padding: 0vh auto;
    overflow-x: hidden;
    white-space: nowrap;
  }
}
