#post{
  position: relative;
  z-index: 0;
  background: #F5EEDD;
}
#postmenu{
  position: absolute;
  z-index: 1;
  right: 1vw;


}
#postnav {
  padding: 0vh 2vw;
  height: 6vh;
  text-align: center;
  line-height: 6vh;
  border-radius: 20px 20px 0 0;
}
